<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial" />
    <meta charset="utf-8" />
</head>

<body>
    <p>Xin chào {[StudentName]}</p>
    <br/>
    <p>Dự án {[ProjectName]} hân hạnh gửi email này thông báo về việc bạn đã đăng ký thành công tài khoản học viên của dự án {[ProjectName]}.</p>
    <br/>
    <p>Vui lòng bấm <a href="{[ActiviationLink]}">vào đây</a> để kích hoạt tài khoản hoặc nhập <b>{[ActivationCode]}</b> ở trang kích hoạt tài khoản để kích hoạt tài khoản.</p>
    <br/>
    <p>Xin chân thành cảm ơn.</p>
</body>

</html>